/* General Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  margin: 10px auto;
  width: 100%;
  box-sizing: border-box;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .primary-nav {
  justify-self: flex-end;
  margin-right: 0;
  margin-left: auto;
}

header .primary-nav li:last-child {
  margin-right: 15px;
}

header .secondary-nav li:first-child {
  margin-left: 15px;
}

header ul li {
  display: inline-block;
  margin: 5px;
}

header ul li:last-child {
  margin-right: 0;
}

header ul li a {
  padding: 5px;
  text-decoration: none;
  color: black;
}

header ul li a:hover {
  text-decoration: underline;
}

/* Main Styles */
main {
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main figure {
  max-width: 272px;
  margin: 0;
}

main figure img {
  width: 100%;
  height: auto;
}

main form {
  margin-top: 6px;
  padding: 20px;
}

main form input[type="text"] {
  box-sizing: border-box;
  width: 582px;
  height: 45px;
  padding: 5px 8px 0 16px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
}

main form input[type="text"]:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-color: rgba(223,225,229,0);
}

main form .form-buttons {
  height: 70px;
  box-sizing: border-box;
  padding-top: 18px;
  text-align: center;
}